.form {
  display: flex;
  gap: 25px;
  font-size: 20px;
  color: black;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 100%;
}
.form label {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  align-items: first baseline;
}

.form input {
  padding: 10px 25px;
  border-radius: 10px;
  margin-top: 10px;
  outline: none;
  border: none;
  font-size: 1.4rem;
  font-family: monospace;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.form input:hover,
.form input:focus {
  outline: 2px solid rgb(120, 119, 119);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.addContact {
  display: block;
  padding: 10px 25px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  white-space: nowrap;
    font-size: 1.2rem;
}
.addContact:active {
  background-color: #edfeff;
  box-shadow: rgba(41, 180, 168, 0.594) 0px 3px 8px;
  transform: translateY(4px);
}
.addContact:hover {
  background-color: #ece9e9;
 
}

  @media screen and (max-width: 720px){
    .form{
width: 400px;
    }
  }

@media screen and (min-width: 720px) {
  .form {
    flex-wrap: nowrap;
  }

  .form label {
    flex-direction: column;
  }
  .form input {
    font-size: 24px;
  }
  .addContact {
    font-size: 24px;
  }
}
