.filterField {
  padding: 10px 25px;
  border-radius: 10px;
  margin-top: 10px;

  margin-bottom: 20px;

  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.filterField:hover,
.filterField:focus {
  outline: 2px solid rgb(120, 119, 119);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.label {
  font-size: 24px;
  font-weight: 400;
  color: black;
}
.filterField::placeholder {
  color: black;
}
.filterField {
  font-size: 1.4rem;
  font-family: monospace;
  color: rgb(73, 73, 73);
}
@media screen and (min-width: 720px) {
  .filterField {
    font-size: 24px;
      margin-right: 25px;
  }
}
