.filterField {
  padding: 10px 25px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  outline: none;
  border: 1px solid rgb(120, 119, 119);
}
.filterField:hover,
.filterField:focus {
  border: 1px solid rgb(78, 78, 78);
    box-shadow: rgba(0, 0, 0, 0.10) 0px 3px 8px;
}
.label {
  font-size: 24px;
  font-weight: 400;
  color: white;
}
.filterField::placeholder {
  color: black;
}
.filterField {
  font-size: 1.4rem;
  font-family: monospace;
  color: black;
}
@media screen and (min-width: 720px) {
  .filterField {
    font-size: 24px;
    margin-right: 25px;
    max-width: 328px !important;
  }
}
